@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
   
    font-family: "Poppins", sans-serif;
    background-image: url(/asfalt-light.png);
   
    background-size: cover;
    
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    list-style-type: none;
    padding: 5px 20px 20px;
}

.menu ul li a{
    text-decoration: none;
    color: black;
}
.logo h2{
    font-size:2.5rem ;
}


.gameContainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.container{

    display: grid;
    grid-template-rows: repeat(3, 20vh);
    grid-template-columns: repeat(3, 20vh);


}

.box{
    border: 2px solid black;
    font-size: 7rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.box:hover{
    content: none;
    background-color: rgb(240, 212, 212);
}
#reset{
    width: 20vh;
    line-height: 8vh;
    background-color: black;
    color: white;
    font-size: 1.2rem;
}

.info{
    font-size: 2rem;
}
.gameInfo h2{
    font-size: 2.5rem;
}

.imagebox img{
    width: 0;
    transition: width 0.5s ease-in-out;
    
    margin-top: 8vh;


}

.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 0.5s ease-in-out;
}


.anim{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}







footer{
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
    .box{
        font-size: 4rem;
    }
}